/** {
    border: 1px solid red !important;
}
*/
body {
  font-size:  100%;
  font-weight: 500;
  line-height: 1.2em;
  height: 100%;
  font-family: Baskerville, Georgia, "Times New Roman", serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-family: Futura, Arial;
  text-rendering: optimizeLegibility;

}

h1 { font-size: 2em, }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

h1, h2, h3 {
  border-bottom: 1px solid #DDDDDD; 
}

code {
  
}

/*General formatting for the page. */
#page {
}

#header {
  font-family: Futura, Arial;
  width: 6.69em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  padding-top: 5%;
  padding-bottom: 0;
  text-align: left;
  font-size: 500%
}

#header a {
  color: #000000;
  text-decoration: none;
}

#menu {
  width: 33em;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2.7em;
  padding-bottom: 2em;
}

/* ----- navigation bar -------*/

#nav {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
}

#nav li {
  float: left;
}

#nav li a {
  font-family: Futura, Arial;
  font-size: 120%;
  padding-top: .5em;
  text-decoration: none;
  color: #000000;
  padding-right: 1em;
}

/*---- style for blog index ----*/

#posts {
  list-style: none;
  padding: 0;
}

#posts li a {

  text-decoration: none;
  color: #000000;
}



/* -----formatting for blog post -----*/

.blogtitle {
  margin-top: 1.5em;
  background-color: #DDDDDF;
  padding-left: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  font-size: 2em;
  font-family: Futura, Arial;
  text-rendering: optimizeLegibility;
}

.blogcontent {
  width: 33em;
  margin-left: auto;
  margin-right: auto;

}

/* -------------------------*/

#content {
  /*font-family: Baskerville;*/
  text-align: justify;
  width: 37em;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  font-family: Futura, Arial;
  font-weight: 100;
  font-size: 85 %;
  text-align: center;
  padding-top: 2em;
  margin-botton: 3em;
  text-transform: lowercase;
}
