

/* ------ resets -------*/
/*----------from html5doctor------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
    color: #000000;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

a {
  text-decoration: none;
  color: #000000;
}


/*----------------------------*/

body {
  font-family:  "Gentium Basic";
  font-size: 12pt;
  line-height: 1.6em;
}

p {
  padding-bottom: 1.5em;
}

p + p {
   text-indent:1.6em;
} 

h1, h2, h3, h4, h5, h6 {
  font-family: Oswald;
}
  
h1 { font-size: 2em, }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1em;  }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

code {
  font-size: .8em;
}


/*----------header--page-title-------------*/

#navigation {
  width: 35em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 6em;
  padding-top: 6em;
}

#navigation ul {
  list-style: none;
}

#navigation ul li {
  float: left;
   padding-right: 1.2em;
}


#navigation ul li ul {
 margin-top: -.43em;
}

#navigation ul li ul li {
    padding-right: 1.1em;
}

.navlink {
  font-family: Oswald;
  font-size: 1.3em;
  text-transform: uppercase;
   
}

#pagetitle {
    font-family: "Open Sans";
    font-size: 6em;
    margin-left: -.045em;
}

/*-------blog formatting---------------*/

.blogarticle {
  margin-bottom: 1em;
}

.blogtitle {
  font-family: Oswald;
  width: 17.5em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: .7em;
  padding-top: 1.35em;
  font-size: 2em;
  border-top: 2px solid #DDDDDD;
  text-transform: uppercase;
}

.blogcontent {
   margin-left: auto;
   margin-right: auto;
   width: 35em;
   text-align: justify;
}

/*------------content-----------*/
/*--------for general filling------*/
.content {
    margin-left: auto;
    margin-right: auto;
    width: 35em;
}


/*------for error pages-------*/
#error {
  padding-top: 1em;
}

#error div {
  padding-top: 1em;
}


/*-----javascript-testing------*/
.test {
    color: red;
}


