
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <title></title><!--get something in here-->
            <link href="/stylesheets/stylesheet.css" rel="stylesheet" type="text/css">
            <link href='http://fonts.googleapis.com/css?family=Gentium+Basic' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
        {% endblock %}
    </head>

    <body> 
    {% block body %}

            <header id="pageheader">
                {% block pageheader %}
                    
                <!--<div id="pagetitle">
                    <a href="/">rlmv</a>
                </div>-->
                
                <nav id="navigation">
                    <ul>
                        <li><a id="pagetitle" href="/">rlmv</a></li>
                        <li><ul>
                            <li><a class="navlink" href="/blog">blog</a></li>
                            <li><a class="navlink" href="/projects">projects</a></li>
                            <li><a class="navlink" href="/contact">contact</a></li>
                        </ul></li>
                    </ul>
                </nav>
                
                 {% endblock %}
            </header>

        
            <section id="content">
                {% block content %}
                {% endblock %}
            </section>

    
            <footer id="pagefooter">
                {% block pagefooter %}
                  <!--Robert Marchman-->
                {% endblock %}
            </footer>
     
    {% endblock %}
    </body>

</html>