
<!DOCTYPE html>
<html lang="en">

    <head>
        {% block head %}
            <title>{% block title %}{% endblock %}</title>
            <link href="/stylesheets/base.css" rel="stylesheet" type="text/css">
        {% endblock %}
    </head>

    <body> 
    {% block body %}

        <div id="page">
        {% block page %}

            <div id="header">
                {% block header %}
                <a href="/">rlmv</a>
                {% endblock %}
            </div>

            <div id="menu">
                {% block menu %}
                <ul id="nav">
                    <li><a href="/blog">blog</a></li>
                    <li><a href="/projects">projects</a></li>
                    <li><a href="/contact">contact</a></li>
                </ul>
                {% endblock %}
            </div>

            <div id="content">
                {% block content %}
                {% endblock %}
            </div>

            <div id="footer">
                {% block footer %}
                  <!--Robert Marchman-->
                {% endblock %}
            </div>

        {% endblock %}
        </div>

    {% endblock %}
    </body>

</html>