
{% extends "base.html" %}

{% block head %}
    {{ super() }}   
    <script src="/js/lib/jquery.js" type="text/javascript"></script>
    <script src="/js/lib/paper.js" type="text/javascript"></script>
    <script src="/js/projectindex.js" type="text/paperscript" canvas="projectcanvas"></script>

{% endblock %}
{% block content %}
    <div id="canvasdiv"><canvas id="projectcanvas" width=700 height=400></canvas></div>
    
    <ul id="projects">
        {% for project in projects %}
            <li id="project{{ loop.index }}"> 
                <header class="projectname">{{ project.name }}</div>
                <a class="projectlink" href="{{ project.link }}"></a>
                <div class="projectdescription">{{ project.description }}</div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}