{% extends "base.html" %}

{% block content %}
    <h1> Title. </h1>
    <h2> Hello. </h2>
   
    THis is a test. How's it looking? Look, a variable: {{ variable }}.

    <p> This is another paragraph. I'm going to keep writing so that we have some nice wraparound. How is the justification looking? Nice? I can't tell. Nedd a few more lines. More. More.more. If a cow could moo he would do quite a bit more than you.
    </p>
    <h3> Header h3 </h3>
    <p>
    statement. For example if the line statement prefix is configured to # the following two examples are equivalent:
    <h4> h4 Header </h4>
<ul>
# for item in seq
    <li>{{ item }}</li>
# endfor
</ul>

<ul>
{% for item in seq %}
    <li>{{ item }}</li>
{% endfor %}
</ul>
The line statement prefix can appear anywhere on the line as long as no text precedes it. For better readability statements that start a block (such as for, if, elif etc.) may end with a colon:

<h5> H5 Header </h5>
# for item in seq:
    ...
# endfor
Note
Line statements can span multiple lines if there are open parentheses, braces or brackets:

<h6> Header H6 </h6>
<ul>
# for href, caption in [('index.html', 'Index'),
                        ('about.html', 'About')]:
    <li><a href="{{ href }}">{{ caption }}</a></li>
# endfor
</ul>
Since Jinja 2.2 line-based comments are available as well. For example if the line-comment prefix is configured to be ## everything from ## to the end of the line is ignored (excluding the newline sign):</p>
{% endblock %}


